/* container */
.container {
    width: 1000px; margin: 0 auto;
}

/* row */
.row {position: relative; margin: 0 20px;}

/* layout */
.container {border-bottom: 1px solid #ccc; padding-bottom: 20px;}

/* banner */
.banner {}
.banner .banner-title {font-family: "SF Pro Display";}
.banner .banner-title .bt-stit{font-size: 12px; line-height: 29px; color: #DA5E7C;}
.banner .banner-title .bt-tit{font-size: 22px; line-height: 34px;}
.banner .banner-title .bt-desc{font-size: 22px; line-height: 34px; color: #818181;font-weight: 100;}
.banner img {width: 100%;}
.banner-img02 {width: 100%; display: flex;}
.banner-img02 .pic-lef{width: 49%; float: left; margin-right: 4%;}
.banner-img02 .pic-rig{width: 49%; float: left;}
.banner03 {overflow: hidden;}
.banner03 .banner-img .pic {float: left; width: 25%;}
.banner03 .banner-tit {float: left;}

