/* PrismJS 1.20.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript&plugins=line-numbers */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */


 .code-editor:before,
 .code-editor:after,
 .code-editor span.control:before,
 .code-editor span.after:after {
     box-sizing: border-box;
     content: '';
     position: absolute;
     z-index: 1;
     transition: all .5s ease-in-out;
 }
 
 .code-editor {
    box-sizing: border-box;
    text-align: left;
    border-radius: 0 0 5px 5px;
    overflow: auto;
    transition: all .5s ease-in-out;
    position: absolute;
    transform: translate(-50%, -50%);
 }
 
 .code-editor-before {
     content: 'Code Editor';
     font-family: 'Consolas';
     display: block;
     color: #222;
     padding-top: 6px; 
     text-align: center;
     top: 0px;
     background-color: #fafafa;
     border-radius: 5px 5px 0 0;
     margin-top: 6.6vh;
     position: absolute; left: 20%; top: 0;
 }
 
 .code-editor-before span.control:before {
     content: '';
     top: 9px;
     z-index: 2;
     padding: 6px;
     border-radius: 20px;
     -moz-border-radius: 20px;
     -o-border-radius: 20px;
     -webkit-border-radius: 20px;
 }
 
 .code-editor-before span.control:nth-child(1):before {
     margin-left: 15px;
     background-color: #df6963;
     
 }
 
 .code-editor-before span.control:nth-child(2):before {
     margin-left: 35px;
     background-color: #f5e18a;
     
 }
 
 .code-editor-before span.control:nth-child(3):before {
     margin-left: 55px;
     background-color: #97c38a;
 }
 

code[class*="language-"],
pre[class*="language-"] {

   color: #ccc;
   background: none;
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-size: 1em;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;

   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;

   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
   overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
   background: #fff;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

pre[class*="language-"].line-numbers {
   position: relative;
   padding-left: 1.5vw;
   padding-top: 10vh;
   counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
   position: relative;
   white-space: inherit;
}

.line-numbers .line-numbers-rows {
   position: absolute;
   pointer-events: none;
   top: 0;
   left: -3.8em;
   width: 3em; /* works for line-numbers below 1000 lines */
   letter-spacing: -1px;
   border-right: 1px solid #999;

   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;

}

   .line-numbers-rows > span {
      display: block;
      counter-increment: linenumber;
   }

      .line-numbers-rows > span:before {
         content: counter(linenumber);
         color: #999;
         display: block;
         padding-right: 0.8em;
         text-align: right;
      }
     .line-numbers-top {
         position: absolute;
         top: 0; left: 0;
         height: 8vh;
         width: 29vw;
         background: #fff;
         border-bottom: 1px solid #DADADA;
     }
     .pre-numbers-top {
         position: absolute;
         top: 0;
         width: 29vw;
         height: 4.5vh;
         background: #DFE1E5;
     }
     .pre-numbers-top .control:nth-child(1){
         position: absolute;
         left: 0.8vw;
         top: 1.4vh;
         width: 0.6vw;
         height: 1.3vh;
     
         background: #ED6A5E;
         border: 0.5px solid #CE5347;
         box-sizing: border-box;
         box-shadow: inset 0px 0px 6px #EC6D62;
         border-radius: 50%;
     }
     .pre-numbers-top .control:nth-child(2){
         position: absolute;
         left: 1.8vw;
         top: 1.4vh;
         width: 0.6vw;
         height: 1.3vh;
     
         background: #F6BE4F;
         border: 0.5px solid #D6A243;
         box-sizing: border-box;
         box-shadow: inset 0px 0px 6px #F5C451;
         border-radius: 50%;
     }
     .pre-numbers-top .control:nth-child(3){
         position: absolute;
         left: 2.8vw;
         top: 1.4vh;
         width: 0.6vw;
         height: 1.3vh;
     
         background: #62C554;
         border: 0.5px solid #58A942;
         box-sizing: border-box;
         box-shadow: inset 0px 0px 6px #68CC58;
         border-radius: 50%;
     }
     .pre-numbers-top .pre-arrow-icon {
         position: absolute;
         top: 1.8vh; left: 4.6vw;
         width: 1vw;
         z-index: 10;
     }
     .pre-numbers-top p {
         position: absolute;
         font-family: "S-Core Dream";
         top: 1.8vh; left: 6vw;
         z-index: 10;
         font-size: 0.6vw;
         text-transform: none;
         color: #3D4043;
     }
     .pre-numbers-top .pre-arrow-Nemocan {
         position: absolute;
         top: 1.3vh; left: 3.8vw;
         width: 12vw;
     }
     .pre-numbers-top .pre-arrow-plus {
         position: absolute;
         top: 2.3vh; left: 16vw;
         width: 0.5vw;
     }
     .pre-numbers-bot {
         position: absolute;
         top: 4.5vh;
         width: 29vw;
         height: 3.5vh;
     }
     .pre-numbers-bot .pre-img .pre-arrow-Left {
         position: absolute;
         top: 1vh;
         width: 0.7vw;
         left: 0.8vw;
     }
     .pre-numbers-bot .pre-img .pre-arrow-right {
         position: absolute;
         top: 1vh;
         width: 0.7vw;
         left: 2.4vw;
     }
     .pre-numbers-bot .pre-img .pre-arrow-back {
         position: absolute;
         top: 1vh;
         width: 0.7vw;
         left: 4.2vw;
     }
     .pre-numbers-bot .pre-tex {
         position: absolute;
         top: 0.5vh;
         left: 5.9vw;
         width: 25.5vw;
         height: 2.7vh;
         border-radius: 14px;
         background: #F1F3F4;
     }
     .pre-numbers-bot .pre-tex .pre-arrow-lock{
         position: absolute;
         top: 0.7vh;
         left: 0.5vw;
         width: 0.4vw;
     }
     .pre-numbers-bot .pre-tex .pre-arrow-Menu{
         position: absolute;
         top: 0.6vh;
         left: 26.5vw;
         width: 0.15vw;
     }
     .pre-numbers-bot .pre-tex p{
         position: absolute;
         left: 1.3vw;
         top: 0.4vh;
         text-transform: none;
         font-size: 0.6vw;
         color: #767676;
     }
