/* loading */
/* #loading1 {
    display: flex;
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #075140;
    z-index: 10000;
    animation: loading1 2s;
}
#loading2 {
    display: flex;
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 5000;
    animation: loading2 3s;
}
@keyframes loading1 {
    0% {top: 0;}
    70% {top: 0;}
    100% {top: -100vh;}
}
@keyframes loading2 {
    0% {top: 0;}
    70% {top: 0;}
    100% {top: -100vh;}
} */

/* progress */
.progress {background: #222; color: #fff; width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0%;}
.progress2 {background: #000; width: 100%; height: 100%; position: absolute; z-index: 4999; }
.progress-bar {border-top: 1px solid rgba(255,255,255,1); position: absolute; top: 50%; width: 0%;}
.progress-text {font-size: 14px; margin-top: 10px; position: absolute; text-align: center; top: 50%; width: 100%;}
.porgress-complete .progress-bar {border-top-color: rgb(255,255,255);}


/* Font */
@font-face { font-family: 'S-CoreDream-1Thin'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-4Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-5Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-6Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-7ExtraBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-8Heavy'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-9Black'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff'); font-weight: normal; font-style: normal; }


/* layout */
#contents {overflow: hidden;}
#section1 {
    position: relative;
    width: 100vw;
    height: 100vh; background: url(../img/header.jpg) no-repeat center center; 
    background-size: cover;
}
#section1 .bg {
    position: absolute; left: 0; top: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.9);
}
#section1::before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100vw;
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(#5B5B5B), to(rgba(151, 151, 151, 0)));
    background: linear-gradient(180deg, #5B5B5B 0%, rgba(151, 151, 151, 0) 100%);
}
#section2 section {
    width: 100vw;
    height: 100vh;
    background: #E4DEDB;
    position: relative;
    overflow: hidden;
    display: inline-block;
}
#section3 {
    width: 100vw;
    height: 500vh;
    padding-top: 1100vh;
    background: #E4DEDB;
}
.sec2 {
    overflow: hidden;
    width: 100vw;
}
.sec2-top {
    width: 65vw;
    height: 50vh;
    background: #075140;
    position: relative;
}
.sec2-bot {
    width: 65vw;
    height: 50vh;
    background: #000;
    position: relative;
}
.sec2-Sid {
    width: 35vw;
    height: 100vh;
    background: #E4DEDB;
    float: right;
    position: relative;
}

/* nav */
#nav {
    position: fixed;
    z-index: 1000;
    right: -10vw; top: 0;
    width: 10vw; height: 100vh;
    background: #E4DEDB;
    border-left: 1px solid #075146;
}
#nav span {
    color: #075146;
    font-size: 1.2vw;
    margin-top: 10vh;
    height: 20vh;
    letter-spacing: 8px;
    text-align: center;
    font-weight: 900;
    display: block;
}
#nav ul li {
    transform: rotate(90deg);
    margin-bottom: 20vh;
    text-align: center;
}
#nav ul li a {
    font-size: 1.2vw;
    color: #075146;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

/* pageYOffset */
.pageYOffset {
    position: fixed;
    left: 10px; top: 10px; width: 40px; height: 40px;
    background: rgba(0,0,0,0.6);
    text-align: center; line-height: 40px;
    color: #fff; font-size: 12px;
    z-index: 1000;
}

/* transverse slider */
#section2.show {
    position: fixed;
    width: 500vw;
    left: 0; top: 0;
    overflow: hidden;
    background: #E4DEDB;
}
#section2.show section {
    width: 100vw;
    height: 100vh;
    background: #E4DEDB;
    position: relative;
    float: left;
}

/* sec1 */
.sec1 {
    width: 100%;
    height: 100vh;
    position: relative; z-index: 10;
}
.sec1 h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #fff;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}
.sec1 h1 strong {
    display: block;
    white-space: nowrap;
}
.sec1 h1 em {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.8vw;
    white-space: nowrap;
}
.sec1 h1 strong span {font-size: 13vw; line-height: 1;}
.sec1 h1 em span {font-size: 12.3vw; line-height: 1;}
.sec1 h1 span {opacity: 0; display: inline-block;}

.sec1 .bottom {
    position: absolute; left: 0; bottom: -8vw;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    font-size: 14vw;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
    animation: showreel-animation linear infinite 8s;
    opacity: 0;
}
@keyframes showreel-animation {
    0% {left: 0;}
    100% {left: -92%;}
}

/* sec2 */
.sec2-top .sec2-p {
    position: absolute;
    left: 5vw;
    top: 13vh;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 4vw;
    text-transform: uppercase;

    color: #000;
}
.sec2-top .sec2-a {
    position: absolute;
    position: relative;
    left: 5vw;
    top: 33vh;
}
.sec2-top .sec2-a a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4vw;
    color: #000;
    position: relative;
}
.sec2-top .sec-arrow {
    position: absolute;
    width: 20vw;
    height: 50vh;
    left: 14vw;
    top: 33.8vh;
    z-index: 1000;
}
.sec2-top .sec-arrow img {
    width: 40%;
}
/* .sec2-top .sec2-a::before {
    content: '';
    position: absolute;
    width: 8vw;
    height: 0.3vh;
    top: 2vh;
    left: 10vw;
    border-radius: 10%;
    background: #000;
}
.sec2-top .sec2-a a::before {
    content: '';
    position: absolute;
    width: 0.8vw;
    height: 0.3vh;
    top: 1.1vh;
    left: 17.4vw;
    border-radius: 50%;
    background: #000;
    transform: rotate(45deg);
}
.sec2-top .sec2-a a::after {
    content: '';
    position: absolute;
    width: 0.8vw;
    height: 0.3vh;
    top: 2.3vh;
    left: 17.4vw;
    border-radius: 50%;
    background: #000;
    transform: rotate(135deg);
} */

.sec2-bot .sec2-p {
    position: absolute;
    left: 5vw;
    top: 13vh;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 4vw;
    text-transform: uppercase;

    color: #D7CAC4;
}
.sec2-bot .sec2-a {
    position: absolute;
    position: relative;
    left: 5vw;
    top: 33vh;
}
.sec2-bot .sec2-a a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4vw;
    color: #D7CAC4;
    position: relative;
}
.sec2-bot .sec-arrow {
    position: absolute;
    width: 20vw;
    height: 50vh;
    left: 14vw;
    top: 33.8vh;
    z-index: 1000;
}
.sec2-bot .sec-arrow img {
    width: 40%;
}
/* .sec2-bot .sec2-a::before {
    content: '';
    position: absolute;
    width: 8vw;
    height: 0.3vh;
    top: 2vh;
    left: 10vw;
    border-radius: 10%;
    background: #D7CAC4;
}
.sec2-bot .sec2-a a::before {
    content: '';
    position: absolute;
    width: 0.8vw;
    height: 0.3vh;
    top: 1.1vh;
    left: 17.4vw;
    border-radius: 50%;
    background: #D7CAC4;
    transform: rotate(45deg);
}
.sec2-bot .sec2-a a::after {
    content: '';
    position: absolute;
    width: 0.8vw;
    height: 0.3vh;
    top: 2.3vh;
    left: 17.4vw;
    border-radius: 50%;
    background: #D7CAC4;
    transform: rotate(135deg);
} */

.sec2-Sid .sec-img {
    position: relative;
    width: 33vw;
    height: 88vh;
    left: -18vw;
    top: 9vh;
    z-index: 10;

    background: url(../img/jules.jpg) no-repeat center center; 
    background-size: cover;
}
/* .sec2-Sid::before {
    content: '';
    position: absolute;
    width: 8vw;
    height: 0.2vh;
    top: 50vh;
    left: 10vw;
    border-radius: 10%;
    z-index: 50;
    background: #075146;
}
.sec2-Sid .sec-img::before {
    content: '';
    position: absolute;
    width: 2.8vw;
    height: 0.1vh;
    top: 39vh;
    left: 33.7vw;
    border-radius: 10%;
    background: #075146;
    transform: rotate(45deg);
}
.sec2-Sid .sec-img::after {
    content: '';
    position: absolute;
    width: 2.8vw;
    height: 0.1vh;
    top: 43vh;
    left: 33.7vw;
    border-radius: 10%;
    background: #075146;
    transform: rotate(135deg);
} */
.sec2-Sid .sec-text {
    position: absolute;
    left: 20vw;
    top: 28vh;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5vw;
    line-height: 6vh;

    color: #075140;
}
.sec2-Sid .sec-arrow {
    position: absolute;
    width: 20vw;
    height: 50vh;
    left: 10vw;
    top: 46.5vh;
    z-index: 1000;
}
.sec2-Sid .sec-arrow img {
    width: 40%;
}

/* sec3 */
.sec3,.sec4,.sec5,.sec6 {
    position: relative;
}
.sec3-h h1 {
    position: absolute;
    left: 7.3vw;
    top: 12vh;

    font-family: 'S-CoreDream-6Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 4.4vw;
    line-height: 118%;
    text-transform: uppercase;
    color: #075140;
}
.sec3-h h2 {
    position: absolute;
    left: 10.3vw;
    top: 23vh;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 4.4vw;
    line-height: 118%;
    text-transform: uppercase;
    color: #075140;
}
.sec3-h p {
    position: absolute;
    left: 7.3vw;
    top: 43vh;

    font-family: 'S-CoreDream-3Light';
    font-style: normal;
    font-weight: 300;
    font-size: 1.05vw;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
}
.sec3-bot {
    position: absolute;
    width: 30vw;
    left: 7.3vw;
    top: 64vh;
}
.sec3-bot ul li {
    display: inline-block; 
    margin: 1vh 0.3vw; 
    border: 1px solid #075146;
    box-sizing: border-box;
    padding: 1.2vh 1.6vw;
}
.sec3-bot ul li a {
    font-family: 'S-CoreDream-3Light';
    font-style: normal;
    font-weight: 300;
    font-size: 0.9vw;
    line-height: 118%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #075146;
}
.sec3-bot ul li.active {
    border: 1px solid #E4DEDB;
    background: #075146;
}
.sec3-bot ul li.active a {
    color: #E4DEDB;
}
.sec3-bot ul li:hover {
    border: 1px solid #E4DEDB;
    background: #075146;
}
.sec3-bot ul li:hover a {
    color: #E4DEDB;
}
.sec3-bot .sec3-bot-arrow {
    position: absolute;
    left: 0.5vw;
    top: 25vh;
}
.sec3-bot .sec3-bot-arrow:hover::after {
    content: '';
    position: absolute;
    top: -0.6vh;
    left: -1vw;
    border: 1px solid #075146;
    width: 24vw; height: 4vh;
}
.sec3-bot .sec3-bot-arrow span {
    font-family: 'S-CoreDream-4Regular';
    font-style: normal;
    font-weight: 200;
    font-size: 1.1vw;
    line-height: 118%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #075146;
}
.sec3-bot .sec3-bot-arrow img {
    width: 14.5vw;
    margin-left: 1vw;
    margin-top: 0.5vh;
}

.sec3-img {
    position: absolute;
    width: 33.7vw;
    height: 90vh;
    left: 52vw;
    top: 3vh;
    z-index: 10;
}
.sec3 .sec3-img {
    background: url(../img/Webstandard@1200.jpg) no-repeat center center; 
    background-size: cover;
}
.sec4 .sec3-img {
    background: url(../img/ReactiveWeb@1200.jpg) no-repeat; 
    background-size: cover;
}
.sec5 .sec3-img {
    background: url(../img/enterprise@1200.jpg) no-repeat center center; 
    background-size: cover;
}
.sec6 .sec3-img {
    background: url(../img/personalfilm@1200.jpg) no-repeat center center; 
    background-size: cover;
}
.sec3-side {
    margin-left: 4vw;
    font-family: 'S-CoreDream-5Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 8vw;
    letter-spacing: 0.1em;
    white-space: nowrap;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgba(7, 81, 70, 0.2);
    transform: rotate(-90deg);
    animation: sec3-side linear infinite 20s;
}
@keyframes sec3-side {
    0% {transform: translateY(0) rotate(-90deg);}
    100% {transform: translateY(90vw) rotate(-90deg);}
}
.line-numbers {
    position: absolute;
    width: 29vw;
    height: 89vh;
    left: 56.5vw;
    top: 5vh;
    z-index: 10;
    box-sizing: border-box;
    background: #FFFFFF;
    /* Browser Shadow */

    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2), 0px 20px 30px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 0.5%;
}